<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Home</title>
    <script src="https://kit.fontawesome.com/b9cbf649a7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                        <span class="icon">
                            <ion-icon name="person-circle-outline"></ion-icon>
                        </span>
                    <span class="title">Admin</span>
                </a>
            </li>

            <li>
                <a href="/admin">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/admin/manageProduct">
                        <span class="icon">
                            <ion-icon class="fa-brands fa-product-hunt"></ion-icon>
                        </span>
                    <span class="title">Manage Product</span>
                </a>
            </li>
            <li>
                <a href="/admin/create">
                        <span class="icon">
                            <ion-icon name="add-outline"></ion-icon>
                        </span>
                    <span class="title">Create Product</span>
                </a>
            </li>
            <li>
                <a href="/admin/staff">
                        <span class="icon">
                            <ion-icon name="person-outline"></ion-icon>
                        </span>
                    <span class="title">Manage Staff</span>
                </a>
            </li>
            <li>
                <a href="/admin/add">
                        <span class="icon">
                            <ion-icon name="person-add-outline"></ion-icon>
                        </span>
                    <span class="title">Add Staff</span>
                </a>
            </li>
            <li>
                <a href="/admin/confirm">
                        <span class="icon">
                            <ion-icon name="cart"></ion-icon>
                        </span>
                    <span class="title">Confirm Order</span>
                </a>
            </li>
            <li>
                <a href="/admin/confirmSchedule">
                        <span class="icon">
                            <ion-icon name="calendar"></ion-icon>
                        </span>
                    <span class="title">Confirm Schedule</span>
                </a>
            </li>
            <li>
                <a href="/admin/manageFeedback">
                        <span class="icon">
                            <ion-icon name="chatbubbles"></ion-icon>
                        </span>
                    <span class="title">Manage Feedback</span>
                </a>
            </li>
            <li>
                <a href="/admin/manageBuildedPC">
                        <span class="icon">
                            <ion-icon name="clipboard-outline"></ion-icon>
                        </span>
                    <span class="title">Manage Builded PC</span>
                </a>
            </li>
            <li>
                <a href="/admin/addBuildedPC">
                        <span class="icon">
                            <ion-icon name="add-circle-outline"></ion-icon>
                        </span>
                    <span class="title">Add Builded PC</span>
                </a>
            </li>
            <li>
                <a href="/logout">
                        <span class="icon">
                            <ion-icon name="log-out"></ion-icon>
                        </span>
                    <span class="title">Log out</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- ========================= Main ==================== -->
    <div class="main">
        <div class="topbar">
            <div class="toggle">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <!-- ======================= Cards ================== -->
        <div class="cardBox">
            <div class="card">
                <div>
                    <div class="numbers" th:text="${countOrders}"></div>
                    <div class="cardName">Orders</div>
                </div>

                <div class="iconBx">
                    <i class="fa-solid fa-eye"></i>
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="numbers" th:text="${countStaffs}"></div>
                    <div class="cardName">Staffs</div>
                </div>

                <div class="iconBx">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="numbers" th:text="${countFeedbacks}"></div>
                    <div class="cardName">Comments</div>
                </div>

                <div class="iconBx">
                    <i class="fa-solid fa-comment"></i>
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="numbers cost" th:text="${totalAmount}" ></div>
                    <div class="cardName">Earning</div>
                </div>

                <div class="iconBx">
                    <i class="fa-regular fa-money-bill-1"></i>
                </div>
            </div>
        </div>

        <!-- ================ Order Details List ================= -->
        <div class="details">
            <div class="recentOrders">
                <div class="cardHeader">
                    <h2>Recent Orders</h2>
                    <a href="/admin/confirm" class="btn">View All</a>
                </div>

                <table>
                    <thead>
                    <tr>
                        <td>ID</td>
                        <td>Price</td>
                        <td>Payment</td>
                        <td>Status</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orderList}">
                        <td th:text="${order.orderID}"></td>
                        <td th:text="${order.cost}" class="cost"></td>
                        <td th:text="${order.PStatus}"></td>
                        <td th:text="${order.status}"></td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <!-- ================= New Customers ================ -->
            <div class="recentCustomers">
                <div class="cardHeader">
                    <h2>Recent Customers</h2>
                </div>

                <table>
                    <tr th:each="user : ${userList}">
                        <td>
                            <h4 th:text="${user.userID}"></h4>
                        </td>
                        <td>
                            <h4 th:text="${user.userName}"></h4>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    let list = document.querySelectorAll(".navigation li");

    function activeLink() {
        list.forEach((item) => {
            item.classList.remove("hovered");
        });
        this.classList.add("hovered");
    }

    list.forEach((item) => item.addEventListener("mouseover", activeLink));

    // Menu Toggle
    let toggle = document.querySelector(".toggle");
    let navigation = document.querySelector(".navigation");
    let main = document.querySelector(".main");

    toggle.onclick = function () {
        navigation.classList.toggle("active");
        main.classList.toggle("active");
    };

    document.addEventListener("DOMContentLoaded", function() {
        var costCells = document.querySelectorAll(".cost");
        costCells.forEach(function(cell) {
            var cost = parseFloat(cell.textContent);
            cell.textContent = formatCurrency(cost) + " ₫";
        });
    });

    function formatCurrency(amount) {
        return amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
</script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>