<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/buildPCStyles.css">
    <script src="https://kit.fontawesome.com/b9cbf649a7.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="main">
    <div class="content-1">
        <div class="card-1">
            <div class="card-body">
                <div class="tittle">
                    <div>CPU</div>
                </div>
                <div class="image">
                    <div>
                        <img th:src="@{/images/buildPC/cpu.svg}" alt="">
                    </div>
                </div>
                <div class="name-product">
                    <div>
                        Vui lòng chọn linh kiện
                    </div>
                </div>
                <div class="choose-btn">
                    <a th:href="@{/EcommerceStore/buildPC/CPU}">+</a>
                    <button data-modal-target="#choose-product">Choose</button>
                </div>
            </div>
        </div>
        <div class="card-1">
            <div class="card-body">
                <div class="tittle">
                    <div>Mainboard</div>
                </div>
                <div class="image">
                    <div>
                        <img th:src="@{/images/buildPC/mainboard.svg}" alt="">
                    </div>
                </div>
                <div class="name-product">
                    <div>
                        Vui lòng chọn linh kiện
                    </div>
                </div>
                <div class="choose-btn">
                    <button>Choose</button>
                </div>
            </div>
        </div>
        <div class="card-1">
            <div class="card-body">
                <div class="tittle">
                    <div>RAM</div>
                </div>
                <div class="image">
                    <div>
                        <img th:src="@{/images/buildPC/ram.svg}" alt="">
                    </div>
                </div>
                <div class="name-product">
                    <div>
                        Vui lòng chọn linh kiện
                    </div>
                </div>
                <div class="choose-btn">
                    <button>Choose</button>
                </div>
            </div>
        </div>
        <div class="card-1">
            <div class="card-body">
                <div class="tittle">
                    <div>HDD</div>
                </div>
                <div class="image">
                    <div>
                        <img th:src="@{/images/buildPC/hdd.svg}" alt="">
                    </div>
                </div>
                <div class="name-product">
                    <div>
                        Vui lòng chọn linh kiện
                    </div>
                </div>
                <div class="choose-btn">
                    <button>Choose</button>
                </div>
            </div>
        </div>
        <div class="card-1">
            <div class="card-body">
                <div class="tittle">
                    <div>SSD</div>
                </div>
                <div class="image">
                    <div>
                        <img th:src="@{/images/buildPC/ssd.svg}" alt="">
                    </div>
                </div>
                <div class="name-product">
                    <div>
                        Vui lòng chọn linh kiện
                    </div>
                </div>
                <div class="choose-btn">
                    <button>Choose</button>
                </div>
            </div>
        </div>
        <div class="card-1">
            <div class="card-body">
                <div class="tittle">
                    <div>VGA</div>
                </div>
                <div class="image">
                    <div>
                        <img th:src="@{/images/buildPC/vga-card.svg}" alt="">
                    </div>
                </div>
                <div class="name-product">
                    <div>
                        Vui lòng chọn linh kiện
                    </div>
                </div>
                <div class="choose-btn">
                    <button>Choose</button>
                </div>
            </div>
        </div>
        <div class="card-1">
            <div class="card-body">
                <div class="tittle">
                    <div>Power Supple</div>
                </div>
                <div class="image">
                    <div>
                        <img th:src="@{/images/buildPC/power-supply.svg}" alt="">
                    </div>
                </div>
                <div class="name-product">
                    <div>
                        Vui lòng chọn linh kiện
                    </div>
                </div>
                <div class="choose-btn">
                    <button>Choose</button>
                </div>
            </div>
        </div>
        <div class="card-1">
            <div class="card-body">
                <div class="tittle">
                    <div>Case</div>
                </div>
                <div class="image">
                    <div>
                        <img th:src="@{/images/buildPC/case.svg}" alt="">
                    </div>
                </div>
                <div class="name-product">
                    <div>
                        Vui lòng chọn linh kiện
                    </div>
                </div>
                <div class="choose-btn">
                    <button>Choose</button>
                </div>
            </div>
        </div>
        <div class="card-1">
            <div class="card-body">
                <div class="tittle">
                    <div>Cooling Fan</div>
                </div>
                <div class="image">
                    <div>
                        <img th:src="@{/images/buildPC/fan.svg}" alt="">
                    </div>
                </div>
                <div class="name-product">
                    <div>
                        Vui lòng chọn linh kiện
                    </div>
                </div>
                <div class="choose-btn">
                    <button>Choose</button>
                </div>
            </div>
        </div>
    </div>
    <div class="content-2">
        <div class="card-2">
            <div class="card-body-2">
                <div class="content" height="200">
                    <img th:src="@{/images/buildPC/box.png}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="choose-product">
        <div class="choose-product-content">
            <div class="choose-product-close" data-close-button="#choose-product">
                <i class="fa-solid fa-x close"></i>
            </div>
            <div class="choose-product-body">
                <div class="choose-product-body-content">
                    <div class="choose-product-body-header">
                        <div class="header-tittle">
                            <div class="header-tittle-text">
                                <div class="header-tittle-text-sign">

                                </div>
                                <div class="header-tittle-text-word">
                                    Filter
                                </div>
                            </div>
                            <div class="header-tittle-space"></div>
                        </div>
                        <div class="header-filter-category">
                            <tr th:each="product : ${listProduct}">
                            <div class="category-card">
                                <div class="category-card-button">
                                    <span class="category-card-button-text">
                                        Brand <span th:text="${product.type}"></span>
                                    </span>
                                    <span class="fa-solid fa-chevron-down category-card-button-sign"></span>
                                </div>
                                <ul class="sub-card">
                                    <li><a href="">Intel</a></li>
                                    <li><a href="">AMD</a></li>
                                </ul>
                            </div>
                            <div class="category-card">
                                <div class="category-card-button">
                                <span class="category-card-button-text">
                                    Series <span th:text="${product.type}"></span>
                                </span>
                                    <span class="fa-solid fa-chevron-down category-card-button-sign"></span>
                                </div>
                                <ul class="sub-card">
                                    <li><a href="">Core i3</a></li>
                                    <li><a href="">Core i5</a></li>
                                    <li><a href="">Core i7</a></li>
                                    <li><a href="">Core i9</a></li>
                                    <li><a href="">Ryzen 3</a></li>
                                    <li><a href="">Ryzen 5</a></li>
                                    <li><a href="">Ryzen 7</a></li>
                                    <li><a href="">Ryzen 9</a></li>
                                </ul>
                            </div>
                            <div class="category-card">
                                <div class="category-card-button">
                                <span class="category-card-button-text">
                                    Brand
                                </span>
                                    <span class="fa-solid fa-chevron-down category-card-button-sign"></span>
                                </div>
                                <ul class="sub-card">
                                    <li><a href="">Intel</a></li>
                                    <li><a href="">AMD</a></li>
                                    <li><a href="">ASUS</a></li>
                                </ul>
                            </div>
                            </tr>
                        </div>
                        <div class="header-filter-cost">
                            <div class="header-filter-cost-text">
                                Sorted by
                            </div>
                            <div class="header-filter-cost-button">
                                <div class="header-filter-cost-button-space">

                                </div>
                                <div class="header-filter-cost-button-text">
                                    Price ascending
                                </div>
                            </div>
                            <div class="header-filter-cost-button">
                                <div class="header-filter-cost-button-space">

                                </div>
                                <div class="header-filter-cost-button-text">
                                    Price descending
                                </div>
                            </div>
                            <input class="header-filter-cost-input" placeholder="Find components"/>
                        </div>
                    </div>
                    <div class="choose-product-body-product">
                        <div class="choose-product-body-product-card">
                            <div class="choose-product-body-product-card-body">
                                <table style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="product : ${listProduct}" style="display: flex; justify-content: space-around; height: 120px; align-items: center">
                                            <td>
                                                <div class="choose-product-body-product-card-image">
                                                    <div class="choose-product-body-product-card-image-border">
                                                        <img th:src="@{'/images/' + ${product.images}}" alt="" class="choose-product-body-product-image">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="choose-product-body-product-card-name">
                                                    <a class="choose-product-body-product-card-name-link">
                                                        <div class="choose-product-body-product-card-name-text">
                                                            <h3 th:text="${product.name}"></h3>
                                                        </div>
                                                    </a>
                                                    <div class="choose-product-body-product-card-name-id">
                                                        SKU: <span th:text="${product.productID}"></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="choose-product-body-product-card-price">
                                                    <div class="choose-product-body-product-card-price-body">
                                                        <div class="choose-product-body-product-card-price-text">
                                                            <div class="choose-product-body-product-card-price-space">
                                                                <div class="choose-product-body-product-card-price-sale">
                                                        <span th:text="${product.price}-${product.sale}*${product.price}/100 + ' VND'">
                                                        </span>
                                                                </div>
                                                                <div class="choose-product-body-product-card-price-real">
                                                        <span class="cost" th:text="${product.price} + ' VND'">
                                                            <span>VND</span>
                                                        </span>
                                                                    <span class="sale" th:text="'-'+${product.sale} + '%'"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="choose-product-body-product-card-button">
                                                    <button>Choose</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="overlay"></div>
</div>
<script>
    const openModalButtons = document.querySelectorAll('[data-modal-target]')
    const closeModalButtons = document.querySelectorAll('[data-close-button]')
    const overlay = document.getElementById('overlay')

    openModalButtons.forEach(button => {
        button.addEventListener('click', () => {
            const modal = document.querySelector(button.dataset.modalTarget)
            openModal(modal)
        })
    })

    overlay.addEventListener('click', () => {
        const modals = document.querySelectorAll('.modal.active')
        modals.forEach(modal => {
            closeModal(modal)
        })
    })

    closeModalButtons.forEach(button => {
        button.addEventListener('click', () => {
            const modal = button.closest('.modal')
            closeModal(modal)
        })
    })

    function openModal(modal) {
        if (modal == null) return
        modal.classList.add('active')
        overlay.classList.add('active')
    }



    overlay.addEventListener('click', () => {
        const modals = document.querySelectorAll('.modal.active')
        modals.forEach(modal => {
            closeModal(modal)
        })
    })

    closeModalButtons.forEach(button => {
        button.addEventListener('click', () => {
            const modal = button.closest('.modal')
            closeModal(modal)
        })
    })

    function openModal(modal) {
        if (modal == null) return
        modal.classList.add('active')
        overlay.classList.add('active')
    }

    function closeModal(modal) {
        if (modal == null) return
        modal.classList.remove('active')
        overlay.classList.remove('active')
    }
</script>

</body>

</html>