<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Admin Home</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://kit.fontawesome.com/b9cbf649a7.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container">
  <div class="navigation">
    <ul>
      <li>
        <a href="#">
                        <span class="icon">
                            <ion-icon class="fa-solid fa-user-tie"></ion-icon>
                        </span>
          <span class="title">Admin</span>
        </a>
      </li>

      <li>
        <a href="/admin">
                        <span class="icon">
                            <ion-icon class="fa-solid fa-house"></ion-icon>
                        </span>
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/manageProduct">
                        <span class="icon">
                            <ion-icon class="fa-brands fa-product-hunt"></ion-icon>
                        </span>
          <span class="title">Manage Product</span>
        </a>
      </li>
      <li>
        <a href="/create">
                        <span class="icon">
                            <ion-icon class="fa-brands fa-product-hunt"></ion-icon>
                        </span>
          <span class="title">Create Product</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="main">
    <div class="topbar">
      <div class="toggle">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>
    <div>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Brand</th>
            <th>Type</th>
            <th>Quantity</th>
            <th>Image</th>
          </tr>
        </thead>
        <tbody>
          <tr  th:each="product : ${listProducts}">
            <td th:text="${product.productID}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="@{${product.price} + 'vnd'}"></td>
            <td th:text="${product.type}"></td>
            <td th:text="${product.brand}"></td>
            <td th:text="${product.quantity}"></td>
            <td>
              <img th:src="@{'images' + ${product.images}}"
                alt="..." width="100">
            </td>
            <td>
              <a class="h4" href="#">Edit</a>
              <a class="h4" href="#">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  let list = document.querySelectorAll(".navigation li");

  function activeLink() {
    list.forEach((item) => {
      item.classList.remove("hovered");
    });
    this.classList.add("hovered");
  }

  list.forEach((item) => item.addEventListener("mouseover", activeLink));

  // Menu Toggle
  let toggle = document.querySelector(".toggle");
  let navigation = document.querySelector(".navigation");
  let main = document.querySelector(".main");

  toggle.onclick = function () {
    navigation.classList.toggle("active");
    main.classList.toggle("active");
  };
</script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>