<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Order</title>
</head>
<body>
<h1>Order information</h1>

<form th:action="@{/EcommerceStore/order}" method="post">
  <label for="address1">Saved Address</label>
  <input type="radio" name="address" id="address1" value="1" >
  <input type="hidden" name="user_id" th:value="${user_id}">
  <label for="useraddress">Select user address:</label>
  <select name="useraddress" id="useraddress" >
    <option th:each="useraddress: ${userAddressList}"
            th:value="${useraddress.getAddressID()}"
            th:text="${useraddress.toString()}"
    ></option>
    <option th:if="${userAddressList.isEmpty()}" th:value="${-1}" type="hidden">
    </option>
  </select>

  <br>
  <label for="address2">Other Address</label>
  <input type="radio" name="address" id="address2" value="2" >
  <br>
  <label for="city">City:</label>
  <select class="form-select form-select-sm mb-3" id="city" aria-label=".form-select-sm" type="text" name="city">
    <option value="" selected>Chọn tỉnh thành</option>
  </select>
  <label for="district">District: </label>
  <select class="form-select form-select-sm mb-3" id="district" aria-label=".form-select-sm" type="text" name="district">
    <option value="" selected>Chọn quận huyện</option>
  </select>
  <label for="commute">Commute: </label>
  <select class="form-select form-select-sm" id="commute" aria-label=".form-select-sm" type="text" name="commute">
    <option value="" selected>Chọn phường xã</option>
  </select>
  <label for="detail_address">Detail Address: </label>
  <input type="text" id="detail_address" name="detail_address" value=""><br>
  <label for="receive_name">Receiver Name:</label>
  <input type="text" id="receive_name" name="receive_name" value=""><br>
  <label for="receive_phone">Receiver Phone:</label>
  <input type="text" id="receive_phone" name="receive_phone" value=""><br>
  <h4>Payment method:</h4>
  <label for="cash">Cash</label>
  <input type="radio" id="cash" name="payment_method" value="1"><br>
  <label for="vnpay">VNPay</label>
  <input type="radio" id="vnpay" name="payment_method" value="2">
  <br>
  <label for="total">Total: </label> <br>
  <input type="text" name="total" id="total" th:value="${total}" readonly>
  <button type="submit">Confirm Order</button>
</form>
<a href="/EcommerceStore/product">Back</a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
  var citis = document.getElementById("city");
  var districts = document.getElementById("district");
  var wards = document.getElementById("commute");
  var Parameter = {
    url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
    method: "GET",
    responseType: "application/json",
  };
  var promise = axios(Parameter);
  promise.then(function (result) {
    renderCity(result.data);
  });

  function renderCity(data) {
    for (const x of data) {
      citis.options[citis.options.length] = new Option(x.Name, x.Id);
    }
    citis.onchange = function () {
      district.length = 1;
      commute.length = 1;
      if(this.value != ""){
        const result = data.filter(n => n.Id === this.value);

        for (const k of result[0].Districts) {
          district.options[district.options.length] = new Option(k.Name, k.Id);
        }
      }
    };
    district.onchange = function () {
      commute.length = 1;
      const dataCity = data.filter((n) => n.Id === citis.value);
      if (this.value != "") {
        const dataWards = dataCity[0].Districts.filter(n => n.Id === this.value)[0].Wards;

        for (const w of dataWards) {
          wards.options[wards.options.length] = new Option(w.Name, w.Id);
        }
      }
    };
  }
</script>
</body>

</html>